# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/

# Generated documentation
**/doc/api/

# iOS
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/Podfile.lock

# macOS
macos/Flutter/Flutter.framework/
macos/Pods/
macos/Podfile.lock
macos/Flutter/ephemeral/

# Android
.android/
.gradle/
android/.gradle/
android/app/build/
android/build/

# Windows / Linux
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json
